@model IList<CMS.Entities.SampleEntity>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Delete Dinner", MVC.Home.Index()
        .AddRouteValues(new { foo = 17, bar = "abc"}))
        <h1>Samples</h1>
        @foreach (var item in Model)
        {
            <p>@item.Name - @item.Email</p>
        }
    </div>
</body>
</html>
